@import "tailwindcss";

body {
  background: #33373f;
}

#root {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100vh;           /* full viewport height */
}